NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
AURUM_MT5_TERMINAL_PATH=
AURUM_MT5_BROKER_SYMBOL=
AURUM_MT5_EXPECTED_ACCOUNT_FINGERPRINT=
AURUM_MT5_SMOKE_CONFIRMED_SPECIFICATION_FINGERPRINT=
AURUM_MT5_MAX_TICK_AGE_SECONDS=
AURUM_MT5_MAX_CLOCK_DRIFT_SECONDS=
AURUM_MT5_CANDLE_LIMIT=
AURUM_MT5_HISTORY_WINDOW_HOURS=
AURUM_MT5_TICK_POLL_SECONDS=
AURUM_MT5_HEARTBEAT_VALID_FOR_SECONDS=
AURUM_MT5_POSITION_POLL_SECONDS=
AURUM_MT5_FULL_RECONCILIATION_SECONDS=
AURUM_MT5_RECONNECT_MAX_SECONDS=
AURUM_MT5_READONLY_SMOKE=
